<ul>
    <li>Hello {{people}}</li>
    <li>How are you doing today?</li>
    <li>We need to still add mongoDB.</li>
    <li>We need to add authentication</li>
    <li>We need to query and update data.</li>
</ul>